
 .navbar {
      background-color: #000000;
      margin-bottom: 0;
      border-radius: 0;
     }
 footer {
     background-color: #591202;
     padding: 25px;
     }
.jumbotron {
    background-color: #FFFFFF;
    padding: 25px;
    }